.ui-btn {
  height: 46px;
  border-radius: 16px;
  font-size: 1rem;
  text-transform: none;
  letter-spacing: 0;
  color: black;

  &.primary {
    background-color: rgb(149, 148, 185);
  }

  &.secondary {
    background-color: rgb(87, 52, 88);
  }
}
.ui-btn {
  very-long-classname-style-very-long-classname-style-very-long-classname-style-1,
  very-long-classname-style-very-long-classname-style-very-long-classname-style-2,
  very-long-classname-style-very-long-classname-style-very-long-classname-style-3,
  very-long-classname-style-very-long-classname-style-very-long-classname-style-4,
  very-long-classname-style-very-long-classname-style-very-long-classname-style-5,
  very-long-classname-style-very-long-classname-style-very-long-classname-style-6,
  very-long-classname-style-very-long-classname-style-very-long-classname-style-7,
  very-long-classname-style-very-long-classname-style-very-long-classname-style-8,
  very-long-classname-style-very-long-classname-style-very-long-classname-style-9 {
    color: #000;
  }
}

.very-long-classname-style-very-long-classname-style-very-long-classname-style-1 {
  color: #001;
}
.very-long-classname-style-very-long-classname-style-very-long-classname-style-2 {
  color: #002;
}
.very-long-classname-style-very-long-classname-style-very-long-classname-style-3 {
  color: #003;
}
.very-long-classname-style-very-long-classname-style-very-long-classname-style-4 {
  color: #004;
}
.very-long-classname-style-very-long-classname-style-very-long-classname-style-5 {
  color: #005;
}
.very-long-classname-style-very-long-classname-style-very-long-classname-style-6 {
  color: #006;
}
.very-long-classname-style-very-long-classname-style-very-long-classname-style-7 {
  color: #007;
}
.very-long-classname-style-very-long-classname-style-very-long-classname-style-8 {
  color: #008;
}
.very-long-classname-style-very-long-classname-style-very-long-classname-style-9 {
  color: #009;
}
